{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Task creation</h1>

{{ form_start(form) }}
    {# render the task's only field: description #}
    {{ form_row(form.description) }}

    <h3>Tags</h3>
    <ul class="tags" data-prototype="{{ form_widget(form.tag.vars.prototype)|e }}">
        {# iterate over each existing tag and render its only field: name #}
        {% for tag in form.tag %}
            <li>{{ form_row(tag.name) }}</li>
        {% endfor %}
    </ul>
{{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('task') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
